<div class="container">
    <div class="row">
        <div class="col">
            <h2>My Heroes</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hero of heroes">
                        <th scope="row">{{hero}}</th>
                        <td>
                            <button class="btn btn-link" (click)="onMenu(hero)">Show Menu</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-outline-primary" (click)="restoreHeroes()">Restore Heroes</button>
        </div>
    </div>
</div>